/* General Styling */

* {
    margin: 0;
    padding: 0;
}


p, h1, h2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h2 {
    margin: 10px;
    font-size: 1.4em;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
    word-wrap: break-word;
}

body {
    background-color: #20222a;
}

/* Header styling */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1b22;
}
.header h1 {
    margin-bottom: 40px;
    margin-top: 35px;
}

/* Body Styling  */

.body {
    display: flex;
    justify-content: center;
}

/* Products */

#search-bar {
    height: 40px;
    width: 100%;
    display: flex;
}

#search-bar input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 15pt;
    padding-left: 1%;
    border-style: none;
}

.main-body {
    min-height: 100vh;
    width: 50%;
    background: #323641;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.products-list {
    height: 90%;
    position: relative;
    display: flex;
    padding: 30px;
}

.products-grid {
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* Products Styling */

/* Product info and title */
.product-item,
.add-product-container {
    width: 13.5em;
    height: 23em;
    background-color: #20222a;
    border-radius: 3%;
    margin: 10px;
}

.product-title {
    height: 10.6%;
    text-align: center;
    padding-top: 15px;
}

.product-info {
    height: 29.6%;
    text-align: center;
}

/* Product Image */

.product-image{
    height: auto;
}

.product-image img{
    max-width: 100%;
    height: auto;
}


/* Buttons */
#edit-button {
    height: 40px;
    width: 40px;
    border: none;
    background-color: #5206a6;
    background-image: url("../img/edit_icon.png");
    background-repeat: no-repeat;
    border-radius: 15%;
    background-position: center;
    cursor: pointer;
    margin: 10px 5px 5px 5px;
}

#delete-button {
    margin: 10px 5px 5px 5px;
    height: 40px;
    width: 40px;
    border-radius: 15%;
    border: none;
    background-color: #5206a6;
    background-image: url("../img/delete_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#view-button {
    margin: 10px 5px 5px 5px;
    height: 40px;
    width: 40px;
    border-radius: 15%;
    border: none;
    background-color: #5206a6;
    background-image: url("../img/visualize_icon.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* Add product  */
.add-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-product {
    width: 70px;
    height: 70px;
    background-color: #5206a6;
    border-radius: 100%;
    cursor: pointer;
    background-image: url("../img/add_icon.png");
    background-repeat: no-repeat;
    background-position: center;
}

#add-product:hover,
#view-button:hover,
#delete-button:hover,
#edit-button:hover,
#search-bar span:hover {
    background-color: #35046a;
}